* {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    font-size: 16px;
    box-sizing: border-box;
}
li {
    list-style: none;
}
h1 {
    margin: 0;
}
a {
    text-decoration: none;
}
.main-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    padding-right: 104px;
    padding-left: 177px;
    font-family: 'Roboto', sans-serif;
}
.header {
    padding-top: 49px;
    margin-bottom: 80px;
    background-color: #eeeeee;
}
.header-container {
    min-height: 495px;
    background-image: url(./img/header/slide1.png);
    background-repeat: no-repeat;
    background-position: 430px 81px;
}
.header-nav_main{
    display: flex;
    align-items: center;
    margin-bottom: 78px;
    
}
.header__logo:hover {
    opacity: 0.8;
}
.header__logo:active {
    opacity: 0.1;
}
.header-nav {
    margin: 0  auto;
}
.header-nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-right: 38px;
}
.header-nav__list__item {
    margin-right: 45px;
    font-weight: bold;
    text-transform: uppercase;
}
.header-nav__list__link {   
    color: black;
}
.header-nav__list__link:hover {
    color: #fb565a;
}
.header-nav__list__link:active {
    color: #a6a6a6;
}
.header-cart {
    position: relative;
    text-align: center;
    padding-top: 20px;
}

.header-cart::before {
    position: absolute;
    content: '';
    top: 19px;
    right: 96px;
    width: 18px;
    height: 18px;
    background-image: url(./img/header/cart.png);
    background-repeat: no-repeat;
}
.header-cart-link {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}
.header-cart-link:hover {
    color: #fb565a;
}
.header-cart-link:active {
    color: #a6a6a6;
}
.header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header__title {
    margin-bottom: 28px;
    width: 45%;
    font-size: 55px;
    line-height: 55px;
}
.header-text {
    line-height: 24px;
    margin-bottom: 38px;
}
.header-info__btn {
    text-align: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: 15px 53px;
    background-color: #fb565a;
    border: 1px solid #fb565a;
    border-radius: 2px;
}
.header-info__btn:hover {
    background-color: #e74246;
}
.header-info__btn:active {
    background-color: #d7373b;
    color: #e37376;
} 


/* секция 2 */
.sells-list {
    display: flex;
    justify-content: space-between;
    padding-right: 106px;
    padding-bottom: 80px;
    border-bottom: 2px solid #eeeeee;
}
.sells-list__item {
    width: 24%;
}
.sells-list__img {
    margin-bottom: 25px;
}
.sells-list__title {
    margin-bottom: 21px;
    font-size: 22px;
    letter-spacing: 1.5px;
}
.sells-list__text {
    line-height: 24px;
    margin-bottom: 34px;
}
.sells-btn {
    display: inline-block;
    padding: 15px 40px;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}
.sells-list-btn__red {
    border: 1px solid #fb565a;
    background-color: #fb565a;
}
.sells-list-btn__red:hover {
    background-color: #e74246;
}
.sells-list-btn__red:active {
    background-color: #d7373b;
    color:#e26f72;
}
.sells-list-btn__green {
    border: 1px solid #00ca74;
    background-color: #00ca74;
}
.sells-list-btn__green:hover {
    background-color: #00bc6c;
}
.sells-list-btn__green:active {
    background-color: #00aa62;
    color: #38bd84;
}
.sells-list-btn__yellow {
    border: 1px solid #efc849;
    background-color: #efc849; 
}
.sells-list-btn__yellow:hover {
    background-color: #eab534;
}
.sells-list-btn__yellow:active {
    background-color: #e5a722;
    color: #e7ae34;
}
/* Секция 3 */
.weare-container {
    padding-bottom: 75px;
    display: flex;
    border-bottom: 2px solid #eeeeee;
}
.werare-list-container {
    margin-top: 75px;
    margin-right: auto;
    width: 57%;
}
.percent-img {
    padding-bottom: 38px;
    padding-top: 38px;
}
.werare-percent-container {
    width: 37%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.weare-title {
    margin-bottom: 35px;
    font-size: 45px;
    line-height: 44px;
    letter-spacing: 0.3px;
}
.weare-text {
    margin-bottom: 40px;
    width: 90%;
    line-height: 24px;
}
.weare-list-title {
    text-transform: uppercase;
    letter-spacing: 0.2px;
}
.weare-list-item {
    position: relative;
    padding-left: 35px;
    margin-top: 30px;
}
.weare-list-item::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    left: 0;
    top: 7px;
    background-color: red;
    position: absolute;
}
.percent-text-main {
    margin-bottom: 43px;
    padding-right: 39px;
    font-weight: bold;
    text-transform: uppercase;
}
.percent-list {
    display: flex;
    justify-content: flex-end;
    text-align: left;
    padding-right: 39px;
}
.percent-list-item {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.percent-percent {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 45px;
}
.percent-percent_sup {
    font-size: 28px;
    margin-left: 3px;
}
.percent-list-item:not(:first-child) {
    margin-left: 31px;
}
.percent-list-item:nth-child(3) {
    margin-left: 36px;
}
/* Cсекция 4 */
.logo {
    padding-bottom: 40px;
    margin-bottom: 38px;
}
.logo-list {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 41px;
    padding-bottom: 39px;
    border-bottom: 2px solid #eeeeee;
}
.logo-list img {
    opacity: 0.2;
}
.logo-list img:hover {
    opacity: 1;
}
.logo-list img:active {
    opacity: 0.1;
}
.logo__items {
    position: relative;
    padding-top: 60px;
}

.logo__items:nth-child(2) {
    padding-top: 45px;
    padding-right: 5px;
}
.logo__items:nth-child(4) {
    padding-top: 50px;
} 
.logo__items:nth-child(3) {
    padding-right: 25px;
}
.logo-list-item-html::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 50px;
    background-color: #eeeeee;
    top: 60px;
    right: -52px;
}
.logo-list-item-boro::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 50px;
    background-color: #eeeeee;
    top: 60px;
    right: -43px;
}
.logo-list-item-pink::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 50px;
    background-color: #eeeeee;
    top: 60px;
    right: -36px;
}
/* Секция 5 */
.map {
    width: 1511px;
    padding-left: 72px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 66px;
}
.frame-map {
    width: 100%;
    height: 417px;
    border: 0px;
}
.container-map {
    position: absolute;
    padding-left: 50px;
    padding-right: 46px;
    padding-top: 55px;
    padding-bottom: 60px;
    top: 51px;
    left: 177px;
    background-color: white;
    font-family: sans-serif;
}

.map-title {
    margin-bottom: 28px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
}
.map-list-item_text {
    margin-bottom: 20px;
}
.map-list-item {
    margin-bottom: 53px;
}
.map-link {
    color: black;
}

.map-btn-link {
    padding: 16px 41px;
    font-weight: bold;
    color: white;
    border: 1px solid #fb565a;
    background-color: #fb565a;
    border-radius: 2px;
}
.map-btn-link:hover {
    background-color: #e74246;
}
.map-btn-link:active {
    background-color: #d7373b;
    color: #e37376;
}

/* footer */
.footer-container {
    display: flex;
    align-items: center;
    padding-bottom: 70px;
}


.icon-list {
    display: flex;
    padding: 0;
    list-style: none;
}
.icon-item {
    display: inline-block;
    margin-right: 10px;
}
.icon-list-item {
    display: inline-block;
    width: 77px;
    height: 77px;
    /* vertical-align: top; */
    border-radius: 50%;
    background-color: #e1e1e1;
}
.vk {
    background-image: url(./img/footer/vk.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.fb {
    background-image: url(./img/footer/fb.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.insta {
    background-image: url(./img/footer/insta.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.icon-item:not(:last-child) {
    margin-right: 15px;
}

.icon-lis-link::after {
    content:'';
    width: 80px;
    height: 80px;
}
.footer-info {
    margin-left: 129px;
}
.footer-title {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.icon-list-item:hover {
    background-color: #e74246;
}
.insta:active {
    background-image: url(./img/footer/insta-red.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.vk:active {
    background-image: url(./img/footer/vk-red.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.fb:active {
    background-image: url(./img/footer/fb-red.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
@media (max-width: 1024px) {
    .main-container {
        padding: 0 30px;
    }
    .sells-list {
        flex-direction: column;
    }
    .sells-list__img {
        width: 100%;
    }
    .sells-list__item {
        margin-bottom: 50px;
        align-self: center;
        width: 33.5%;
    }
    .sells-list__title {
        text-align: center;
    }
    .sells-list__text {
        text-align: center;
    }
    .sells-btn {
        margin-left: 25%;
    }
    .sells-list__item:nth-child(2) {
        margin-left: 0;
    }
    .sells-list__item:nth-child(3) {
        margin-left: 0;
    }
    .frame-map {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .icon-list {
        /* width: 280px; */
        display: flex;
    } 
}
@media (max-width: 768px) {
    .main-container {
        max-width: 768px;
        padding: 0 25px;
    }
}