* {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    font-size: 16px;
}
li {
    list-style: none;
}
h1 {
    margin: 0;
}
a {
    text-decoration: none;
}
.main-container {
    width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.header {
    padding-top: 49px;
    margin-bottom: 80px;
    min-height: 495px;
    background-color: #eeeeee;
    background-image: url(./img/header/slide1.png);
    background-repeat: no-repeat;
    background-position: top 130px left 765px;
}
.header-nav_main{
    display: flex;
    align-items: center;
    padding-right: 40px;
    margin-bottom: 78px;
}
.header__logo:hover {
    opacity: 0.8;
}
.header__logo:active {
    opacity: 0.1;
}
.header-nav {
    margin: 0  auto;
}
.header-nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-right: 40px;
}
.header-nav__list__item {
    margin-right: 45px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-nav__list__link {   
    color: black;
}
.header-nav__list__link:hover {
    color: #fb565a;
}
.header-nav__list__link:active {
    color: #a6a6a6;
}
.header-cart {
    position: relative;
    text-align: center;
    padding-top: 20px;
}

.header-cart::before {
    position: absolute;
    content: '';
    top: 19px;
    right: 96px;
    width: 18px;
    height: 18px;
    background-image: url(./img/header/cart.png);
    background-repeat: no-repeat;
}
.header-cart-link {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}
.header-cart-link:hover {
    color: #fb565a;
}
.header-cart-link:active {
    color: #a6a6a6;
}
.header-info {
    display: flex;
    flex-direction: column;
}
.header__title {
    margin-bottom: 28px;
    width: 45%;
    font-size: 55px;
    line-height: 55px;
}
.header-text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 42px;
}
.header-info__btn {
    text-align: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: 15px 16px;
    max-width: 205px;
    background-color: #fb565a;
    border: 3px solid #fb565a;
    border-radius: 2px;
}
.header-info__btn:hover {
    background-color: #e74246;
}
.header-info__btn:active {
    background-color: #d7373b;
    color: #e37376;
} 


/* секция 2 */
.sells-list {
    display: flex;
    /* margin-bottom: 75px; */
    padding-bottom: 80px;
    border-bottom: 2px solid gray;
}
.sells-list__item {
    max-width: 33.5%;
}
.sells-list__item:nth-child(2) {
    margin-left: 100px;
}
.sells-list__item:nth-child(3) {
    margin-left: 100px;
}
.sells-list__img {
    margin-bottom: 25px;
}
.sells-list__title {
    margin-bottom: 21px;
    font-size: 22px;
    letter-spacing: 1.5px;
}
.sells-list__text {
    line-height: 22px;
    margin-bottom: 34px;
}
.sells-btn {
    display: inline-block;
    padding: 15px 40px;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}
.sells-list-btn__red {
    border: 3px solid #fb565a;
    background-color: #fb565a;
}
.sells-list-btn__red:hover {
    background-color: #e74246;
}
.sells-list-btn__red:active {
    background-color: #d7373b;
    color:#e26f72;
}
.sells-list-btn__green {
    border: 3px solid #00ca74;
    background-color: #00ca74;
}
.sells-list-btn__green:hover {
    background-color: #00bc6c;
}
.sells-list-btn__green:active {
    background-color: #00aa62;
    color: #38bd84;
}
.sells-list-btn__yellow {
    border: 3px solid #efc849;
    background-color: #efc849; 
}
.sells-list-btn__yellow:hover {
    background-color: #eab534;
}
.sells-list-btn__yellow:active {
    background-color: #e5a722;
    color: #e7ae34;
}
/* Секция 3 */
.weare-container {
    padding-bottom: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
.werare-list-container {
    margin-top: 75px;
    width: 60%;
}
.percent-img {
    margin-top: 45px;
    margin-bottom: 35px;
    margin-left: auto;
}
.werare-percent-container {
    padding-right: 43px;
    max-width: 355px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weare-title {
    margin-bottom: 35px;
    font-size: 45px;
    line-height: 44px;
}
.weare-text {
    margin-bottom: 45px;
    width: 90%;
    line-height: 24px;
}
.weare-list-title {
    text-transform: uppercase;
}
.weare-list-item {
    position: relative;
    padding-left: 35px;
    margin-top: 30px;
}
.weare-list-item::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    left: 0;
    top: 7px;
    background-color: red;
    position: absolute;
}
.percent-text-main {

    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
.percent-list {
    display: flex;
}
.percent-list-item {
    display: flex;
    flex-direction: column;
}
.percent-percent {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 45px;
}
.percent-percent_sup {
    font-size: 24px;
    margin-left: 3px;
}
.percent-list-item:not(:first-child) {
    margin-left: 22px ;
}
.percent-list-item:nth-child(3) {
    margin-left: 20px;
}
/* Cсекция 4 */
.logo {
    border-bottom: 2px solid gray;
    padding-bottom: 40px;
    margin-bottom: 80px;
}
.logo-list {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 85px;
}
.logo-list img {
    opacity: 0.2;
}
.logo-list img:hover {
    opacity: 1;
}
.logo-list img:active {
    opacity: 0.1;
}
.logo__items {
    position: relative;
    padding-top: 60px;
}

.logo__items:nth-child(2) {
    padding-top: 45px;
    padding-right: 5px;
}
.logo__items:nth-child(4) {
    padding-top: 50px;
} 
.logo__items:nth-child(3) {
    padding-right: 25px;
}
.logo-list-item-html::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 50px;
    background-color: #eeeeee;
    top: 60px;
    right: -52px;
}
.logo-list-item-boro::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 50px;
    background-color: #eeeeee;
    top: 60px;
    right: -43px;
}
.logo-list-item-pink::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 50px;
    background-color: #eeeeee;
    top: 60px;
    right: -36px;
}
/* Секция 5 */
.map {
    width: 1440px;
    position: relative;
    margin: 0  auto;
    padding-bottom: 76   px;
}
iframe {
    border: 0px;
}
.container-map {
    position: absolute;
    padding: 55px 50px;
    top: 55px;
    left: 120px;
    min-width: 220px;
    min-height: 200px;
    background-color: white;
    font-family: sans-serif;
}

.map-title {
    margin-bottom: 28px;
}
.map-list-item_text {
    margin-bottom: 20px;
}
.map-list-item {
    margin-bottom: 50px;
}
.map-link {
    color: black;
}

.map-btn-link {
    padding: 15px 43px;
    font-weight: bold;
    color: white;
    border: 3px solid #fb565a;
    background-color: #fb565a;
    border-radius: 2px;
}
.map-btn-link:hover {
    background-color: #e74246;
}
.map-btn-link:active {
    background-color: #d7373b;
    color: #e37376;
}

/* footer */
.footer-container {
    display: flex;
    align-items: center;
    padding-bottom: 70px;
}

.icon-list-item:not(:last-child) {
    margin-right: 10px;
}
.icon-list {
    display: flex;
}
.vk {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(./img/footer/vk-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.fb {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(./img/footer/fb-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.insta {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(./img/footer/insta-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.icon-lis-link::after {
    content:'';
    width: 80px;
    height: 80px;
}
.footer-info {
    margin-left: 140px;
}
.footer-title {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.5px;
}